<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
  <ng-container *ngIf="selectedTitle; else titlePrompt">
    <h1
      #eventTitle
      [ngClass]="textSize"
      class="font-bold text-gray-800 text-center whitespace-nowrap flex justify-between overflow-x-visible"
    >
      <span *ngFor="let char of selectedTitle.split('')">{{ char }}</span>
    </h1>
  </ng-container>

  <ng-template #titlePrompt>
    <h1 class="font-bold text-gray-800 text-center text-4xl">
      Input a title for your event?
    </h1>
  </ng-template>

  <app-title-input (titleSelected)="onTitleSelected($event)"></app-title-input>
  <app-date-select></app-date-select>
</div>

<router-outlet></router-outlet>
