<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
  <h1
    *ngIf="selectedTitle; else titlePrompt"
    #eventTitle
    class="text-7xl font-bold text-gray-800 text-center text-nowrap"
  >
    {{ title }}: {{ selectedTitle }}
  </h1>

  <ng-template #titlePrompt>
    <h1 class="text-7xl font-bold text-gray-800 text-center">
      Input a title for your event?
    </h1>
  </ng-template>

  <app-title-input (titleSelected)="onTitleSelected($event)"></app-title-input>
  <app-date-select></app-date-select>
</div>

<router-outlet></router-outlet>
